.signUpContainer {
  width: 100vw;
}

.signUpBox {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 714px;

  margin: 0 auto;
  padding: 53px 57px 65px;

  border-radius: 20px;
  border: 1px solid black;
}

.signUpForm {
  display: flex;
  flex-direction: column;
  row-gap: 16px;

  width: 600px;
}
