.userForm {
    box-sizing: border-box;
    width: 448px;
    padding: 30px;
    border-radius: 10px;
    background: #b9b6b6;
}

.userForm__head {
    display: flex;
    justify-content: space-between;
}

.userForm__form {
    display: flex;
    gap: 25px;
    flex-direction: column;
}

.userForm__form input {
    all: unset;
    text-align: left;
    line-height: 24px;
    border-bottom: 1px solid #686161;
}

.userForm__title {
    color:rgba(0, 86, 179, 0.87);
    font-weight: 600;
    text-align: left;
    font-size: 20px;
    line-height: 32px;
}

.userForm__inputs {
    width: 275px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.userFrom__error {
    color: red;
    font-size: 12px;
    margin: 0;
}

.userFrom__errorBox {
    height: 30px;
}

.userForm__buttonContainer {
    width: 365px;
    display: flex;
    justify-content: flex-end;
}

.userForm__button {
    background: rgba(0, 86, 179, 0.87);
    text-transform: uppercase;
}